*{
    font-family: 'Times New Roman';
}
#box{
    background-color: blue;
    width:100px;
}
.heading{
    color: brown;
}
button{
    background-color: aqua;
}
p{
    text-align: center;
    text-transform: capitalize;
}
#outer{
font-size: 25px;
}
#inner{
font-size: 10px;
}

